.sacola{
	background: url(../img/sacola.png) no-repeat top right;
	font-size: 14px;
	padding-right: 35px;
	text-align:right;
	width:140px;
}
.menu-opcoes ul{
	font-size:15px;
}
.menu-opcoes{
	color:#003366;
	position:absolute;
	bottom: 0;
	right:0;
}
body{
	color:#333333;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
.menu-opcoes ul li{
	display:inline;
	margin-left: 20px;
}
.sacola{
	padding-top: 8px;
	position:absolute;
	top:0;
	right: 0;
}
.container{
	margin:0 auto;
	width:940px;
}
header{
	position:relative;
}
.busca,
.menu-departamento{
	background-color:#dcdcdc;
	font-weight:bold;
	text-transform:uppercase;
	
	margin-right:10px;
	width:230px;
	float:left;
}
.busca h2,
.busca form,
.menu-departamento h2{
	margin:10px;
}
.menu-departamento li{
	background-color:white;
	margin-bottom: 1px;
	padding:5px 10px;
}
.menu-departamento a{
	color:#333333;
	text-decoration:none;
}
.busca input{
	vertical-align:middle;
}
.busca input[type=search]{
	width:170px;
}
.menu-departamento{
	clear:left;
}
.destaque{
	margin-top:10px;
}
.menu-departamento{
	margin-top: 10px;
	padding-bottom:10px;
}
.painel{
	margin:10px 0;
	padding:10px;
	width:445px;
}
.novidades{
	float:right;
}
.mais-vendidos{
	float:left;
}
.painel li{
	display:inline-block;
	vertical-align: top;
	width:140px;

	margin:2px;
	padding-bottom: 10px;
}
.painel h2{
	font-size:24px;
	font-weight:bold;
	text-transform: uppercase;

	margin-bottom: 10px;
}
.painel a{
	color:#333;
	font-size:14px;
	text-align: center;
	text-decoration: none;
}
.novidades{
	background-color: #f5dcdc;
}
.mais-vendidos{
	background-color:#dcdcf5;
}
footer{
	background-image: url(../img/fundo-rodape.png);
}
.social a{
	/*tamanho da imagem*/
	height:32px;
	width:32px;

	/*Imagem replacement*/
	display:block;
	text-indent: -9999px;
}
.social a[href*="facebook.com"]{
	background-image: url(../img/facebook.png);
}
.social a[href*="twitter.com"]{
	background-image: url(../img/twitter.png);
}
.social a[href*="plus.google.com"] { 
	background-image: url(../img/googleplus.png); 
}
footer{
	clear:both;
}
footer { 
	padding: 20px 0; 
}
footer .container { 
	position: relative; 
}
.social { 
	position: absolute; 
	top: 12px; 
	right: 0; 
}
.social li { 
	float: left; 
	margin-left: 25px; 
}
.menu-opcoes:hover{
	color:#007dc6;
}
.menu-opcoes:active{
	color:#867dc6;
}
.menu-departamento li ul{
	display:none;
}
.menu-departamento li:hover ul{
	display:block;
}
.menu-departamento ul ul li{
	background-color:#dcdcdc;
}
.menu-departamento li li a:before{
	content:'- ';
}
.painel h2:before { 
	content: '\2756'; 
	padding-right: 5px; 
	opacity: 0.4; 
}
.painel{
	border-radius:4px;
	box-shadow: inset 1px 1px 4px #999;
}
.painel h2{
	text-shadow: 3px 3px 2px #fff;
}
.busca{
	border-top-left-radius:4px;
	border-top-right-radius: 4px;
}
.painel h2{
	text-shadow:1px 1px 2px rgba(255,255,255,0.8);
}
.novidades{
	background-color:#f5dcdc;
	background:linear-gradient(#f5dcdc, #bebef4);
}
.mais-vendidos{
	background-color:#dcdcf5;
	background:linear-gradient(#dcdcf5, #f4bebe);
}
.painel li:hover{
	background-color: rgba(255,255,255,0.8);
	box-shadow: 0 0 5px #333;
	transition: 0.7s ease-in;
	transform:scale(1.2);
}
.painel li{
	transition:0.7s ease-out;
}


