@escuro:#333333;
.sacola{
	background: url(../img/sacola.png) no-repeat top right;
	
	font-size:14px; 
	padding-right:35px;
	text-align: right;
	width:140px;
}

.menu-opcoes ul{
	font-size:15px; 
}

.menu-opcoes a{
	color:#003366;
}
body{
	color:#333333;
	font-family: 'PT Sans', sans-serif;
}
.menu-opcoes ul li{
	display: inline;
	margin-left: 20px; 
}
.sacola{
	padding-top:8px;
}
.container{
	margin: 0 auto;
	width: 940px;
}
header{
	position:relative;
}
.menu-opcoes{
	position: absolute;
	bottom:0;
	right:0;
}
.sacola{
	position:absolute;
	top:0;
	right: 0;
}
.busca,
.menu-departamentos{
	background-color:#dcdcdc;
	font-weight: bold;
	text-transform:uppercase;
	
	margin-right:10px;
	width:230px;
}
.busca h2,
.busca form,
.menu-departamentos h2{
	margin: 10px;
}
.menu-departamentos li{
	background-color:white;
	margin-bottom: 1px;
	padding:5px 10px;
	
}
.menu-departamentos a{
	color:@escuro;
	text-decoration:none;
}
.busca input{
	vertical-align:middle;
}
.busca input [type=search]{
	width:170px;
}
.busca,
.menu-departamentos{
	float:left;
}
.menu-departamentos{
	clear:left;
}
.destaque{
	margin-top:10px;
}
.menu-departamentos{
	margin-top:10px;
	padding-bottom:10px;
}
.painel{
	margin: 10px 0;
	padding: 10px;
	width: 445px;

	li{
	display: inline-block;
	vertical-align:top;
	width:140px;
	
	margin:2px;
	padding-bottom:10px;

				&:hover{
				background-color: rgba(255,255,255,0.8);
				box-shadow: 0 0 5px @escuro;
				transition: 0.7s ease-in;

				transform: scale(1.2);
				}

	}
	h2{
	font-size: 24px;
	font-weight: bold;
	text-transform: uppercase;
	font-family: 'Bad Script', sans-serif;
	margin-bottom:10px;
	text-shadow: 3px 3px 2px rgba(255,255,255,0.8);

	}
	a{
	color:#333;
	font-size:14px;
	text-align:center;
	text-decoration: none;

	}

}
.novidades{
	float:left;
}
.mais-vendidos{
	float:right;
}
.novidades{
	background-color:#f5dcdc;
}
.mais-vendidos{
	background-color: #dcdcf5;
}
.painel button {
	display: none;
	float:right;
	margin-right: 10px;
	padding: 10px;

	background-color: @escuro;
	border:0;
	border-radius: 4px;
	box-shadow: 1px 1px 3px rgba(30,30,30,0.5);
	color: white;
	font-size:1em;
	text-decoration: none;
	text-shadow: 1px 0 1px black;

	transition:0.3s;
}
.painel button:hover{
	background-color: #393939;
	box-shadow: 1px 0 20px rgba(200,200,120,0.9);
}
.painel button{
	color:white;
	position: relative;
	margin-bottom: 10px;
}
.painel button:after{
	content:'';
	display: block;
	height: 0;
	width: 0;

	/*TRIANGULO*/
	border-top: 10px solid @escuro;
	border-left: 10px solid transparent;
	border-right: 10px solid transparent;

	/*POSICIONAMENTO*/

	position: absolute;
	top:100%;
	left: 50%;
	margin-left: -5px;

	/*ANIMAÇÃO*/
	transition: 0.3s;
}
.painel button:hover:after{
	border-top-color:#393939;

}
.painel-compacto li:nth-child(n+7) {
	display: none;
}
.painel-compacto button {
	display: block;
}
footer{
	background-image:url(../img/fundo-rodape.png);

}
.social a{
	/*Tamanho da imagem */
	height:32px;
	width: 32px;
	
	/*image replacement*/
	display:block;
	text-indent:-9999px;
}
.social a[href*="facebook.com"]{
	background-image:url(../img/facebook.png);
}
.social a[href*="twitter.com"]{
	background-image:url(../img/twitter.png);
}
.social a[href*="plus.google.com"]{
	background-image:url(../img/googleplus.png);
}
footer{
	clear:both;
}
footer{
	padding:20px 0;
}
footer .container{
	position:relative;
}
.social{
	position: absolute;
	top:12px;
	right:0;
}
.social li{
	float:left;
	margin-left:25px;
}
.menu-opcoes a:hover{
	color:#007dc6;
}
.menu-opcoes a:active{
	color: #867dc6;
}
.menu-departamentos li ul{
	display:none;
}
.menu-departamentos li:hover ul{
	display:block;
}
.menu-departamentos ul ul li{
	background-color:#dcdcdc;
}
.menu-departamentos li li a:before{
	content: '- ';
}

.painel{
	border-radius:4px;
	box-shadow:inset 1px 1px 4px #999;
}
.busca{
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.novidades{
	background-color: #f5dcdc;
	background: linear-gradient(#f5dcdc, #bebef4);
}
.mais-vendidos{
	background: #dcdcf5;
	background: linear-gradient(#dcdcf5, #f4bebe);
}
.painel li:hover{
	transform: scale(1.2);
}
.painel li{
	transition: 0.7s;
}
